@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Microsoft India R & D Pvt Ltd<br />
    Bangalore - 560071<br />
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:kaushalp@microsoft.com">kaushalp@microsoft.com</a><br />
</address>