@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Authentication and authorization in Azure App Service</h2>
    
   
    <p><a href="https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-overview" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<a href="~/.auth/login/facebook?post_login_redirect_url=/Home/Facebook"  class="btn btn-primary btn-lg">Facebook</a>

<p>The access token is @ViewBag.AccessToken</p>
